<nav>
    <ul class="nav-items">
        <li id="home-li">
            <a href="/" id="home-a" >
                <img id="home-img" class="nav-img hover-img" src="images/icons/icons-home.svg">
                <span>Newsfeed</span>
            </a>
        </li>
        <li id="total-li">
            <a href="/total" >
                <img id="total-img" class="nav-img hover-img1" src="images/icons/icons-lightning-black.png">
                <span>Actual Total</span>
            </a>
        </li>
        <li id="generation-li">
            <a href="/generation" >
                <img id="generation-img" class="nav-img hover-img2" src="images/icons/icons-funel-black.png">
                <span>Generation Per Type</span>
            </a>
        </li>
        <li id="flows-li">
            <a href="/flows" >
                <img id="flows-img" class="nav-img hover-img3" src="images/icons/icons-arrows-black.png">
                <span>Physical Flows</span>
            </a>
        </li>
    </ul>
    <ul class="nav-options">
        <li>
            <img class="nav-icon" src="images/logout.png" alt="Log out icon"/>
            <a href ="#" class="logout-btn">Log out</a>
        </li>
    </ul>
</nav>